/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common css */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    background-color:darkblue;
    height: 677px;
}
.container{
    width: 80%;
    margin: auto;
}
:root{
    --main-color:#2D25A0;
    --btn-color:#E02C6D;
}


/* Header part styles start */
.menu{
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
}
.nav-list{
    list-style: none;
     padding-top: 20px; 
    padding-right: 30px;
} 
.nav-list a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.fa-sign-in-alt{
    padding-right: 10px;
    margin-left: 20px;
}
.btn1{
   width: 120px;
   height: 30px;
   font-size: 16px;
   background-color:var(--btn-color);
   padding: 10px 15px;
   color: #FFFFFF;
   text-decoration: none;
   margin: 30px auto; 
   margin-right: 170px;
   border-radius: 5px; 
}


/* banner styles */
.banner-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
}
.title{ 
    font-size: 64px;
    color: #FFFFFF;
    margin-left: 20px;
}
.banner-image img{
   width: 80%;
   margin-left: 50px;
}
.btn2{
    font-size: 16px;
    padding: 10px 24px;
    margin-left: 20px;
    background-color:var(--btn-color);
    color: #FFFFFF;
    text-decoration: none;
}
.fa-arrow-right{
   padding-left: 5px;
}
.banner-image:hover{
    transform: scale(0.6); 
    transition: transform 3s linear;
}

/*------- main part styles------ */
/* players styles */
.player-container{
    margin-top: 40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.player-profile img{
    width: 100%;
    padding-top: 5px;
}
.player-profile{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 30px; 
    margin: 10px 0; 
} 
/* highlight styles */
.highlights{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.highlight-last{
    width: 30%;
}
.highlight-left{
    margin-left: 50px;
}
.highlight-left h1{
    font-size: 40px;   
}
.watch-btn{
    background-color: var(--btn-color);
    text-align: center;
    width: 35%;
    padding: 10px 24px;
    margin-left: 50px;
}
.watch-btn a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.fas {
    font-size: 20px;
    color: white;
}
.game-profile img{
    width: 567px;
    height: 427px;
    margin-right: 50px;
}
.game-profile:hover img{
    transform: scale(0.5) rotate(360deg); 
    transition: transform 2s ease-in-out;

}
/* footer styles start */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.logo img{
    width: 483px;
    height: 110px;
}
.icon a img{
    width: 40px;
}
.fab{
     padding-left: 15px; 
     margin-left: 10px;
     color: gray;
}
.text p{
    color: black;
    text-align: center;
}


/*-------- Media Query part -------*/

/*--- Mobile device--- */
@media only screen and (max-width:688px) {

/* Header responsive */
    .nav-header{
    display: none;
    }

    /* banner responsive */
    .banner-container{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 40px;
        align-items: center;
        margin-right: 80px;
    }
    .title{
        font-size: 16px;
        text-align: center;
        margin-right: 30px;
    }
    banner-image img{
        width: 50%;
        margin-top: 30px;
        margin-right: 100px;
    }
    .btn2{
       margin: 20px auto;
    }
    /* player responsive */
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    /* Highlight responsive */
    .highlights{
        display: grid;
        flex-direction: column; 
    }
    .highlight-left{
        align-items: center;
        margin-left: 110px;
    }
    .highlight-left h1{
        font-size: 16px;
    }
    .highlight-left p{
        width: 50%;
    }
    .watch-btn{
        width: 70%;
        text-align: center;
        margin-right: 60px;
    }
    .game-profile img{
        width: 90%;
        margin: auto;
    }
    /* footer responsive */
    .footer{
        width: 100%;
    } 
    .logo img{
        width: 70%;
    }
    .icon a img{
        width: 10%;
        margin-left: 30px;
    }
    .text{
        width: 50%;
        font-size: 10px; 
        margin-left: 30px;
    }
    
    }

    /*--- Tablet devices--- */

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .container{
            width: 90%;
        }
        /* Header responsive */
        .nav-header{
        display: none;
        }
         /* player responsive */
    .players{
        grid-template-columns: repeat(2,1fr);  
    }
     /* Highlight responsive */
     .highlights{
         width: 100%;
        display: grid;
        flex-direction: column; 
    }
    /* footer responsive */
    .footer{
        width: 100%;
    } 
    }
