/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common css */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color: #FFFFFF;
    width: 1050px;
    height: 474px;    
    margin-top: 50px;
}

/* Header part styles start */
.header-container{
    background-color: #2D25A0;
    height: 677px;  
}
.menu{
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
}
.nav-list{
    list-style: none;
     padding-top: 20px; 
     padding-left: 70px;
}
.nav-list a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.fa-sign-in-alt{
    padding-right: 10px;
    margin-left: 20px;
}
.btn1{
   width: 120px;
   height: 30px;
   font-size: 16px;
   background-color:  #E02C6D;
   color: #FFFFFF;
   text-decoration: none;
   margin: 30px auto; 
   border-radius: 5px; 
}


/* banner styles */
.banner-container{
    display: flex;
    margin-top: 50px;
}
.title{
    position: absolute;
    width: 485px;
    height: 230px;
    left: 90px;
    top: 150px; 
    font-size: 64px;
    color: #FFFFFF;
    padding-left: 30px;
}
.banner-image img{
    position: absolute;
    width: 550px;
    height: 430px;
    left: 800px;
    top: 153px;
}
.btn2{
    position: relative;
    font-size: 16px;
    top: 350px;
    left: 110px;
    padding: 10px 24px;
    background-color:  #E02C6D;
    color: #FFFFFF;
    text-decoration: none;
}
.fa-arrow-right{
   padding-left: 5px;
}

/* main part styles */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
   
}
.player{
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    width: 300px;
    height: 500px;
}
.player-banner img{
    width: 250px;
    height: 250px;
   padding-left: 20px;
   margin-top: 10px;
}